<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file> myLog.log </file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SS} [%thread] %level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

	<logger name="Calculator" level="Trace">
	   <appender-ref ref="FILE"/>
	   <appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="PostfixGenerator" level="Trace">
	   <appender-ref ref="FILE"/>
	   <appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="Client" level="Trace">
	   <appender-ref ref="FILE"/>
	   <appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="Server" level="Trace">
	   <appender-ref ref="FILE"/>
	   <appender-ref ref="CONSOLE"/>
	</logger>
	<logger name="FileCalculator" level="Trace">
	   <appender-ref ref="FILE"/>
	   <appender-ref ref="CONSOLE"/>
	</logger>
	
</configuration>