<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  <property name="locations" value="server.properties"/>
	</bean>
	
	<bean id = "server" class = "multiThreadedCalculator.calculator.myCalculator.server.Server" scope="prototype" >
		<constructor-arg ref="calculator"/>
		<property name="port"	value="${port}" />
	</bean>
	
	<bean id = "factoryOperator" class = "operators.OperatorFactory"/>
	
	<bean id = "postfixGenerator" class = "multiThreadedCalculator.calculator.myCalculator.server.PostfixGenerator">
		<constructor-arg ref="factoryOperator"/>
	</bean>
	
	<bean id = "postfixGeneratorProxy" class = "multiThreadedCalculator.calculator.myCalculator.server.PostfixGeneratorProxy">
		<constructor-arg ref="factoryOperator"/>
	</bean>
	
	<bean id = "calculator" class = "multiThreadedCalculator.calculator.myCalculator.server.Calculator">
		<constructor-arg index="0" ref="factoryOperator"/>
		<constructor-arg index="1" ref="postfixGeneratorProxy"/>
	</bean> 
	
</beans>